.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 0px 180px;
    padding-top: 124px;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.contact-section{
    display: flex;
    gap: 150px;

}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.contact-left h1{
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(270deg,#DF8908 80%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p{
    max-width: 550px;
    color: #D8D8D8;
    font-size: 20px;
    line-height: 35px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 22px;
    color: #D8D8D8;
}
.contact-detail{
    display: flex;
    gap: 20px;
    align-items: center;
}
.contact-right{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 30px;
}

.contact-right label{
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 500;
}

.contact-right input{
    border: none;
    width: 600px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    font-size: 20px;
    font-family: Outfit;
    color: #A0A0A0;
    background: #32323c;
}
.contact-right textarea{
    border: none;
    width: 550px;
    padding: 25px;
    border-radius: 4px;
    font-size: 20px;
    font-family: Outfit;
    color: #A0A0A0;
    background: #32323c;
}
.contact-submit{
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 22px;
    margin-bottom: 50px;
    padding:20px 80px;
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(264deg,#DF8908 -5.09%,#B415FF 106.28%);
}

.contact-submit:hover{
    transition: 0.3s;
    transform: scale(1.03);
}
@media(max-width:768px){
    .contact{
        gap: 54px;
        margin: 40px 80px;
    }
    .contact-title{
        width: 20rem;
    }
    .contact-title h1{
        text-align: center;
        padding: 0px;
        font-size: 2.8rem;
        font-weight: 600;
    }
    .contact-title img{
        width: 130px;
        margin-right: -20px;
    }
    .contact-section{
        gap: 100px;
        flex-direction: column;
    }
    .contact-left h1{
        font-size: 54px;
    }
    .contact-left p{
        font-size: 18px;
    }
    .contact-detail{
        gap: 20px;
    }
    .contact-detail img{
        width: 25px;
    }
    .contact-right label{
        font-size: 1.3rem;
    }
    .contact-right input{
        width: 100%;
        font-size: 1.2rem;
        padding: 20px;
    }
    .contact-right textarea{
        width: 100%;
        font-size: 1.2rem;
    }
    .contact-submit{
        font-size: 20px;
        padding: 15px 40px;
    }
}